.main-div {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    color: var(--text-color);
}


.nav-tabs .nav-link.active {
    border-color: transparent;
    color: #9a1550 !important;
    outline: transparent !important;
    background-color: transparent;
    border-bottom: 4px solid #9a1550 !important
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
    width: 100%;
    color: var(--text-color);
}

.nav-link {
    height: 50px;
    font-size: 15px;
    outline: none;
}

.nav-link:hover {
    border: transparent;
    outline: transparent;
}

.tab-pane {
    height: 65vh;
}

.form-control {
    height: 45px;
    position: relative;
    background-color: transparent;
    color: var(--text-color);
}

.form-control::placeholder {
    color: #555;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    color: var(--text-color);
    border: 1px solid #9a1550
}

.custom-button {
    height: 45px;
    background-color: #9a1550;
    border-radius: 5px;
    border: none;
    color: var(--text-color);
}

.custom-button:disabled {
    background-color: rgba(154, 21, 84, 0.6);

}
/* .custom-button:hover,
.custom-button:focus {
    background-color: #9a1550;
    box-shadow: none;
    outline: none
} */
